* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF4500; /* Default color */
    transition: background 0.8s ease;
}

nav .logo { color: white; font-size: 50px; margin-bottom: 20px; }

.product-card {
    text-align: center;
    color: white;
}

#jacket-img {
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
    /* हा इफेक्ट ॲनिमेशनसाठी आहे */
}

.colors button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 5px;
    cursor: pointer;
}
